
/** About - General*/
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.about-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 55%;
}

/** About - Header */
.about-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}
.about-elements {
    display: inline-block;
}
.about-title {
    min-width: 20%;
    margin: 0;
    font-family: 'Caveat', cursive;
}
.profile-container {
    display: flex;
    align-items: center;
    max-width: 30%;
    min-width: 20%;
}
.profile-picture {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    opacity: 100%;
}

/** About - Header - Elements - Buttons */
.linkedin-ref, .insta-ref, .github-ref {
    margin-left: 4%;
    margin-right: 4%;
}
.linkedin-button, .insta-button, .github-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.linkedin-icon, .insta-icon, .github-icon{
    margin-top: 2px;
    height: 25px;
    width: 25px;
    opacity: 65%;
}
.links-buttons {
    height: 30px;
    display: flex;
    justify-content: center;
}

/** About - Header - Bio*/
.about-bio {
    box-shadow: 5px;
    width: 80%;
}
.about-bio-title {
    font-family: 'Signika Negative', sans-serif;
    font-size: 22px;
}
.about-bio-text {
    font-size: 17px;
}






