
/** Header - General */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 20px;
}
.navbar {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
}

/** Navbar - Buttons */
.contact-button-ref, .project-button-ref{
    width: 110px;
    height: 50px;
}
.contact-button, .projects-button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #72a5c1;
    font-family: 'Signika Negative', sans-serif;
    font-size: 21px;
    cursor: pointer;
}
.projects-button:hover{
    opacity: 0.7;
    transition: opacity 0.25s;
}

.contact-button:hover{
    opacity: 0.7;
    transition: opacity 0.25s;
}