@media (max-width: 450px) {
    .about-bio-title {
        margin-top: 5px;
    }
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }
    .about-header {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 0;
    }
    .header {
        margin-bottom: 0px;
        height: 135px;
    }
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .links-buttons {
        margin-top: 5px;
        margin-bottom: 16px;
    }
    .navbar {
        width: 70%;
    }
}
@media (min-width: 451px) {
    .about-bio-title {
        margin-top: 5px;
    }
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }
    .about-header {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 5px;
    }
    .header {
        margin-bottom: 0px;
        height: 135px;
    }
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        margin-bottom: 0;
        font-size: 35px;
    }
    .links-buttons {
        margin-top: 5px;
        margin-bottom: 16px;
    }
    .navbar {
        width: 60%;
    }
}
@media (min-width: 730px) {
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }
    .about-header {
        flex-direction: row;
        justify-content: space-around;

    }
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        margin-bottom: 0px;
        font-size: 40px;
    }
    .links-buttons {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .navbar {
        width: 50%;
    }
}
@media (min-width: 800px) {
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 75%;
    }
    .about-header {
        flex-direction: row;
        justify-content: space-around;
    }
    .about-title {
        margin-bottom: 0px;
        font-size: 40px;
    }
    .links-buttons {
        margin-top: 6px;
        margin-bottom: 0;
    }
    .navbar {
        width: 40%;
    }
}
@media (min-width: 1200px) {
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 60%;
    }
    .about-header {
        flex-direction: row;
        justify-content: space-around;
    }
    .about-title {
        margin-bottom: 0px;
        font-size: 45px;
    }
    .links-buttons {
        margin-top: 6px;
        margin-bottom: 0;
    }
    .navbar {
        width: 30%;
    }
}
