
@media (max-width: 450px) {
    /**Page Header*/
    .header {
        height: 135px;
    }
    .navbar {
        width: 70%;
    }

    /**About Section*/
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }

    /**About Section - Header*/
    .about-header {
        flex-direction: column;
        justify-content: space-around;
    }
    
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        font-size: 35px;
    }

    /**About Section - Bio*/

}
@media (min-width: 451px) {
    /**Page Header*/
    .header {
        height: 135px;
    }
    .navbar {
        width: 60%;
    }

    /**About Section*/
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }

    /**About Section - Header*/
    .about-header {
        flex-direction: column;
        justify-content: space-around;
    }
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        font-size: 40px;
    }

    /**About Section - Bio*/
}
@media (min-width: 730px) {
    /**Page Header*/
    .header {
        height: 145px;
    }
    .navbar {
        width: 50%;
    }

    /**About Section*/
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 90%;
    }

    /**About Section - Header*/
    .about-header {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .profile-container {
        min-width: 250px;
    }
    .about-title {
        font-size: 40px;
    }

    /**About Section - Bio*/

}
@media (min-width: 800px) {

    /**Page Header*/
    .header {
        height: 150px;
    }
    .navbar {
        width: 40%;
    }

    /**About Section*/
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 75%;
    }

    /**About Section - Header*/
    .about-header {
        flex-direction: row;
        justify-content: space-around;
    }
    .about-title {
        font-size: 40px;
    }

    /**About Section - Bio*/
 
}
@media (min-width: 1200px) {
    /**Page Header*/
    .header {
        height: 160px;
        margin-bottom: 10px;
    }
    .navbar {
        width: 30%;
    }
    
    /**About Section*/
    .about-container {
        height: 700px;
    }
    .about-contents {
        width: 60%;
    }

    /**About Section - Header*/
    .about-header {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .about-title {
        font-size: 45px;
    }

    /**About Section - Bio*/
    .about-bio-title {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .about-bio-text {
        margin-top: 0px;
        margin-bottom: 28px;
    }
}
